.progButton {
    display: inline-block;
    position: relative;
    /*background-color: #000000;*/


}

.progButton Button {
    outline: none !important;
    position: absolute;
    left:4px; /*needs to be set dynamically*/
    top: 4px; /*needs to be set dynamically*/
    border-radius: 0px;

}

.progButton Button.differentButton {
    border-radius: 20px
}

.progButton Button.differentButton2 {
    border-radius: 5px
}
