.progButton {
    display: inline-block;
    position: relative;
    /*background-color: #000000;*/


}

.progButton Button {
    outline: none !important;
    position: absolute;
    left:4px; /*needs to be set dynamically*/
    top: 4px; /*needs to be set dynamically*/
    border-radius: 0px;

}

.progButton Button.br20 {
    border-radius: 20px
}

.progButton Button.br5 {
    border-radius: 5px
}

.progButton Button.round {
    border-radius: 150px;
    height:150px;
    width: 150px;
}

#slider-vertical {
    height:200px;
    position:absolute;
    top:60px;
    left:350px;
}
#percent {
    width:25px;
    position:absolute;
    top:20px;
    left:340px;
    border:0;
    color:blue;
    font-weight:bold;
}

.fa.toggle-button {
    font-size:30px;
}

.progButton canvas {
    position: relative;
    top: 0;
    left:0;
}
